<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1>Hello, <%= item.user.username %>!</h1>
    <p>Oh no, it looks like <%= item.item_name %> has expired! Please check
        your fridge to clear out any expired items. 
    </p>
    <p>Regards,<br>
        The Fridge Friend Team
    </p>
</body>
</html>