<div class="flex-1 text-center bg-white px-5 m-2 border rounded">
    <div class="items-center">
        <div class="m-4">
            <h2 class="pacifico capitalize text-lg text-dark-blue ">{{item_name}}</h2>
            <div class="number-input">
                <p class="text-sm text-dark-blue">Quantity: </p>
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ><i class="fas fa-minus"></i></button>
                <input class="quantity" min="1" name="quantity" value="{{quantity}}" type="number" />
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"><i class="fas fa-plus"></i></button>
            </div>
            {{#if expiration_date}}
            <p class="text-sm text-indigo-600">Expires: {{format_date expiration_date}}</p>
            {{/if}}
            <button type="button" class="delete-item-btn bg-blue-100 hover:bg-blue-200 font-bold py-2 px-4 rounded-lg pacifico text-dark-blue text-sm"> Delete <i class="ml-2 fas fa-trash-alt"></i></button>
        </div>
    </div>
</div>


<script src="/javascript/delete-item.js"></script>