<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1>Hello, User!</h1>
    <p>Uh oh, it looks like some of your fridge items are going to expire soon! Please take a look
        at your fridge and try and use the items before they spoil. 
    </p>
    <p>Regards,<br>
        The Fridge Friend Team
    </p>
</body>
</html>