<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1>Hello, <%= username %>!</h1>
    <p>Thank you for creating an account. We will use this email address to send you notifications
        about your fridge contents. You will receive an email to notify you that your food is
        expiring soon (within 3 days) and when your food has expired. This way, you are always 
        aware of how fresh your food is and can avoid unnecessary food waste!
    </p>
    <p>Thank You,<br>
        The Fridge Friend Team
    </p>
</body>
</html>