<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fridge Friend</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <!--Replace with your tailwind.css once created-->
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
</head>

<body {{!-- class="bg-grey-lightest font-sans leading-normal tracking-normal" --}}>

    <main>
        {{{ body }}}
    </main>

    <footer>
        
    </footer>
    {{!-- {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}} --}}
</body>

</html>