{{!-- Nav --}}
<nav class="flex items-center justify-between flex-wrap bg-blue-light p-6">
    <div class="flex md:items-center flex-shrink-0 text-white">
        <span class="text-5xl">
            <h1 class="pacifico ml-4 md:ml-0 text-dark-blue text-center lg:text-left">Fridge Friend</h1>
        </span>
    </div>
 
    <div class="w-full flex justify-end flex-grow sm:flex items-center sm:w-auto">
        <div>
            <a id="logout"
                class="inline-flex text-sm px-4 py-2 leading-none pacifico cursor-pointer
               text-dark-blue pacifico p-1.5 mt-2 hover:bg-blue focus:outline-none focus:ring-2 focus:ring-blue-100 focus:ring-opacity-50 rounded-lg">
                Logout
            </a>
        </div>
    </div>
</nav>
{{!-- Sidebar & Main Content Container --}}
<div class="flex-wrap md:flex">
    {{!-- Sidebar Content --}}
    <div class="md:w-1/4 md:h-screen w-screen bg-white">
        <button type="button" id="myBtn"
            class="pacifico w-full inline-flex justify-center pacifico text-dark-blue text-xl p-1.5 mt-2 bg-pink hover:bg-blue focus:outline-none focus:ring-2 focus:ring-blue focus:ring-opacity-50 rounded-lg">
            Add Item
        </button>

<div class="bg-blue-light mt-3 rounded-lg">
        <h6 class="pacifico text-xl text-dark-blue text-center">Filter by Category</h6>
        <div class="category-buttons grid grid-cols-4 md:gap-2 md:grid-cols-2 bg-blue-light rounded-lg p-5 justify-items-center">
             <button type="button" id="all" name="category_name"
                    class="pacifico mt-3 pacifico text-dark-blue text-sm p-1.5 mt-2  flex-col"
                    value="0"> All
                    <img src="/images/fridge friend icons-02.png" class="bg-blue border-white rounded-full hover:bg-dark-blue">
                </button>
                <button type="button" id="fruit" name="category_name"
                    class="pacifico mt-3  pacifico text-dark-blue text-sm p-1.5 mt-2 flex-col"
                    value="1"> Fruits
                    <img src="/images/fridge friend icons-05.png" class="bg-red border-white rounded-full hover:bg-blue">
                </button>
                <button type="button" id="veggies" name="category_name"
                    class="pacifico mt-3  pacifico text-dark-blue text-sm p-1.5 mt-2 flex-col"
                    value="2"> Veggies
                    <img src="/images/fridge friend icons-06.png" class="bg-pink border-white rounded-full hover:bg-blue">
                </button>
                 <button type="button" id="meat-and-seafood" name="category_name"
                    class="pacifico mt-3   pacifico text-dark-blue text-sm p-1.5 mt-2 flex-col"
                    value="3"> Meat & Seafood
                   <img src="/images/fridge friend icons-08.png" class="bg-dark-blue border-white rounded-full hover:bg-blue">
                </button>
                  <button type="button" id="dairy-and-eggs" name="category_name"
                    class="pacifico mt-3  pacifico text-dark-blue text-sm p-1.5 mt-2 flex-col"
                    value="4"> Dairy & Eggs
                  <img src="/images/fridge friend icons-01.png" class="bg-red border-white rounded-full hover:bg-blue">
                </button>
                <button type="button" id="drinks" name="category_name"
                    class="pacifico mt-3 pacifico text-dark-blue text-sm p-1.5 mt-2 flex-col"
                    value="5"> Drinks
                    <img src="/images/fridge friend icons-07.png" class="bg-pink border-white rounded-full hover:bg-blue">
                </button>
                 <button type="button" id="condiments" name="category_name"
                    class="pacifico mt-3 pacifico text-dark-blue text-sm p-1.5 mt-2 flex-col"
                    value="6"> Condiments
                    <img src="/images/fridge friend icons-09.png" class="bg-blue border-white rounded-full hover:bg-dark-blue">
                </button>
                 <button type="button" id="miscellaneous" name="category_name"
                    class="pacifico mt-3 pacifico text-dark-blue text-sm p-1.5 mt-2 flex-col"
                    value="7"> Miscellanous
                    <img src="/images/fridge friend icons-10.png" class="bg-dark-blue border-white rounded-full hover:bg-blue">
                </button>
        </div>
    </div>
        {{!-- {{#if inventories}}
        <h2 class="pacifico capitalize text-4xl text-dark-blue center">Shopping List</h2>

        {{/if}} --}}

    </div>
    {{!-- Main Content --}}
    <div class="md:w-3/4 md:h-screen w-screen bg-white">
        {{!-- Welcome Message Container --}}
        <div class="container mt-5 md:mt-5 mx-auto px-4">
            {{#if inventories}}
            <h2 class="pacifico capitalize text-xl text-dark-blue">hello, {{getUsername inventories}}! here's what's in
                your fridge!</h2>
            {{else}}
            <h2 class="pacifico capitalize text-xl text-dark-blue">hmm, nothing's here. let's add some items to your fridge!
            </h2>
            {{/if}}
        </div>
        {{!-- Card Container for Inventory --}}
        <div class="container mt-5 mx-auto px-2">
            <div class="flex-wrap md:flex">
                {{#each inventories as |inventory|}}
                {{> fridge-info inventory}}
                {{/each}}
            </div>
        </div>
    </div>
    {{!--Modal--}}
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="fixed z-10 inset-0 overflow-y-auto hidden" id="modal">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                <div class="absolute inset-0 bg-dark-blue opacity-50"></div>
            </div>
            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div class="inline-block align-bottom bg-pink rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                <div class="bg-pink px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-xl leading-6 text-dark-blue pacifico" id="modal-headline">
                                Add an Item
                            </h3>
                            <div class="mt-2">
                                {{!--Form--}}
                                <form class="add-item-form space-y-2">
                                    <div>
                                        <label for="food-item " class="text-dark-blue pacifico rounded-lg">Item:</label>
                                        <input type="text" id="food-item" class="rounded-lg bg-blue-light"
                                            name="item_name" />
                                    </div>
                                    <div>
                                        <label for="qty" class="text-dark-blue pacifico">Qty:</label>
                                        <button type="button" id="minusBtn"><i class="fas fa-minus"></i></button>
                                        <input class="quantity rounded-lg bg-blue-light" min="1" name="new_quantity"
                                            value="" type="number" />
                                        <button type="button" id="plusBtn"><i class="fas fa-plus"></i></button>
                                    </div>
                                    <div>
                                        <label for="category" class="text-dark-blue pacifico">Choose a category:</label>
                                        <select id="categories" name="category_name"
                                            class="text-dark-blue pacifico rounded-lg bg-blue-light">
                                            <option value="1">Fruit</option>
                                            <option value="2">Veggies</option>
                                            <option value="3">Meat and Seafood</option>
                                            <option value="4">Dairy and Eggs</option>
                                            <option value="5">Drinks</option>
                                            <option value="6">Condiments</option>
                                            <option value="7">Miscellaneous</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="expiration" class="text-dark-blue pacifico">Expiration Date:</label>
                                        <input type="date" min="" id="expDate" name="expiration_date" class="rounded-lg bg-blue-light">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" id="addItem"
                    class="my-3 w-full inline-flex justify-center rounded-lg shadow-sm px-4 py-2 text-dark-blue bg-blue-light pacifico text-base hover:bg-blue focus:outline-none focus:ring-2 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                    Submit
                </button>
                <button type="button" id="close"
                    class="my-3 w-full inline-flex justify-center rounded-lg shadow-sm px-4 py-2 text-dark-blue bg-blue-light pacifico text-base text-gray-700 hover:bg-blue focus:outline-none focus:ring-2 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/delete.js"></script>
<script src="/javascript/update-qty.js"></script>
<script src="/javascript/exp-date.js"></script>
<script src="/javascript/add-item.js"></script>