{{!-- Nav --}}
<nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-bold text-xl">
            <img src="/images/favicon-1.png" width="30" height="30" alt="Fridge Friend Logo" class="inline-block" />
            Fridge Friend
        </span>
    </div>
    <div class="w-full block justify-end flex-grow sm:flex sm:items-center sm:w-auto">
        <div>
            <a id="logout" class="inline-flex text-sm px-4 py-2 leading-none 
                border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0">
                Logout
            </a>
        </div>
    </div>
</nav>
{{!-- Sidebar & Main Content Container --}}
<div class="flex">
    {{!-- Sidebar Content --}}
    <div class="w-1/4 h-screen bg-blue-100">
        <p>¡Hola!</p>
    </div>
    {{!-- Main Content --}}
    <div class="w-3/4 h-screen bg-red-100">
        {{!-- Welcome Message Container --}}
        <div class="container mt-5 mx-auto px-4">
            <h2 class="capitalize text-6xl">hello, username!</h2>
            <p class="capitalize text-3xl">here's what's in your fridge!</p>
        </div>
        {{!-- Card Container for Inventory --}}
        <div class="container mt-5 mx-auto px-2">
            <div class="flex-wrap md:flex">
                {{#each inventories as |inventory|}}
                    {{> fridge-info inventory}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{!-- Choose one, delete other --}}
<!--Header Alert-->
<div class="alert-banner w-full fixed top-0">
    <input type="checkbox" class="hidden" id="banneralert">
    <label class="close cursor-pointer flex items-center justify-between w-full p-2 bg-red-500 shadow text-white" title="close" for="banneralert">
        <span><i class="fas fa-bell mx-3"></i><b class="mr-2">Alert!</b>content of the alert</span>
        <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
        </svg>
    </label>
</div>
<!--Toast Alert -->
<div class="alert-toast fixed bottom-0 right-0 m-8 w-5/6 md:w-full max-w-sm">
    <input type="checkbox" class="hidden" id="footertoast">
    <label class="close cursor-pointer flex items-center justify-between w-full p-2 bg-red-500 h-14 rounded shadow-lg text-white" title="close" for="footertoast">
        <span><i class="fas fa-bell mx-3"></i><b class="mr-2">Alert!</b>content of the alert</span>
        <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
        </svg>
    </label>
</div>